body{
    margin: 0;
}
button:hover{
    transform: scale(0.9);
}
button{
    cursor: pointer;
    transition: 0.2s;
}
img:hover{
    transform: scale(0.9);
}
a{
    text-decoration: none;
    color: black;
}
/* start header */
header {
    display: grid;
    grid-template-columns: auto auto 314px auto 154px;
    margin: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
header div{
    display: flex;
    justify-content: space-between
}
header a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
header .fa-solid.fa-bars{
    display: none;
}
/* end header */


/* start section1 */
section1 {
    display: flex;
    margin: 4% 6%;
}
section1 .left .one {
    display: flex;
    justify-content: space-between;
    width: 285px;
}
section1 .left .one a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(214, 212, 212, 0.88);
}
section1 .left .one a:hover{
    color: #B00000;
}
section1 .left h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #2E2E2E;
}
section1 .left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;
    width: 445px
}
section1 .four {
    display: flex;
    width: 450px;
    justify-content: space-between;
}
section1 button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    background: #ffffff;
    border: 1px solid;
    width: 200px;
    height: 45px;
}
section1 button:hover{
    background: #B00000;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
    border-radius: 8px;
    color: #FFFFFF;
}
/* end section1 */


/* start section2 */
section2{
    display: flex;
    margin: 2% 6%;
    justify-content: space-between;
}
section2 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}
section2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    width: 560px;
}
section2 .right{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}
/* end section2 */


/* start section3 */
section3{
    display: flex;
    margin: 7% 6%;
}
section3 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
section3 p{
    width: 96%;
}
/* end section3 */


/* start section4 */
section4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section4 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    width: 640px;
    margin: 0;
}
section4 h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
/* end section4 */


/* start section5 */
section5{
    display: flex;
    justify-content: center;
}
section5 .top {
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
}
section5 .one{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 120px;
    height: 60px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: red;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
section5 .two{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
section5 .three{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    background: #FFE87A;
    border-radius: 8px;
    width: 90px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end section5 */


/* start section6 */
section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section6>div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 1%;
}
section6>div>div{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
section6 hr{
    width: 600px;
}
/* end section6 */


/* start section7 */
section7{
    display: flex;
    margin: 3% 6%;
    justify-content: space-between;
}
section7 .same{
    background: #FFFFFF;
    border: 1.5px solid #C4C4C4;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 30%;
    height: 720px;
}

section7 .same h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
}
section7 .same p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
section7 .same h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
}
section7 .same h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}
section7 .same button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 12px;
    width: 185px;
}
section7 .same ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 335px;
}
section7 .same il{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
section7 .same div{
    margin: 0px 18%;
}

/* end section7 */


/* start section8 */
section8{
    display: flex;
    margin: 6% 17%;
}
section8 .top img{
    position: relative;
    z-index: -1;
}
section8 .top h1{
    position: relative;
    z-index: 1;
    margin: -36px 0 0% 29%;
}
section8 .top h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 0 29%;
}
/* end section8 */


/* start section9 */
section9{
    display: flex;
    margin: 2% 6%;
    justify-content: space-between;
}
section9 .left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
section9 .left h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}
section9 .left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 445px;
    margin: 0;
}
section9 .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
}
/* end section9 */


/* start section10 */
section10{
    display: flex;
    margin: 4% 6%;
    background: #F7FAFE;
    height: 400px;
}
section10>div{
    display: flex;
    background-image: url(../image/Elements.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
}

section10>div>div{
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section10 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    margin: 4% 7%;
}
section10 button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #B00000;
    border-radius: 8px;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* end section10 */


/* start footer */
footer{
    background: #B00000;
    display: flex;
    flex-direction: column;
    padding: 6%;
}
footer .top{
    display: flex;
    justify-content: space-between;
}
footer .top p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}
footer .top .one{
    width: 300px;
}
footer .top .same{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
footer .top a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}
footer .top .lab{
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-between;
}
footer .top .lab1{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}
footer .top .lab2{
    display: flex;
    flex-direction: column;
    height: 135px;
    justify-content: space-between;
}

footer .down{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 3% 0;
}





